<div class="license">
  <h3 class="title">License</h3>
  <p>
    The illustrations in Cocomaterian are under <a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal (CC0 1.0) Public
    Domain Dedication</a> license.
  </p>
  <p>
    This means that all illustrations published on CocoMaterial can be used for free. You can use them for commercial and non-commercial purposes. You do not need to
    ask permission from or provide credit to CocoMaterial, although it is appreciated when possible. CocoMaterial grants you an irrevocable, nonexclusive, worldwide
    copyright license to download, copy, modify, distribute, perform, and use creations made on CocoMaterial for free, including for commercial purposes, without
    permission from or attributing the illustrator.
  </p>
</div>
