@import '@/variables';

.featured-tags-host {}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  max-width: 1440px;

  @media (min-width: 720px) {
    font-size: 30px;
  }

  @media (min-width: 1023px) {
    margin: 3rem auto;
  }
}


.featured-wrapper {
  overflow-x: hidden;
  padding: 0 1.5rem .5rem;
}


.featured-container {
  background: linear-gradient(90.06deg, #F6F6F6 -1.4%, rgba(246, 246, 246, 0) 99.12%);

  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 36px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;

  @media (min-width: 1325px) {
    flex-direction: row;

    &:nth-child(even) {
      background: linear-gradient(270.13deg, #F6F6F6 2.26%, rgba(246, 246, 246, 0) 104.52%);
    }
  }

  button {
    min-width: 152px;
    padding: 5px 15px;
  }

  & .featured-vector-wrappers {
    display: grid;
    position: relative;
    z-index: 10;
    grid-template-columns: repeat(1, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;


    @media (min-width: 468px) {
      grid-template-rows: 180px;
    }

    @media (min-width: 390px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 580px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5rem;
      row-gap: 1.5rem;
    }

    @media (min-width: 1325px) {
      grid-template-columns: repeat(6, 1fr);
      width: 100%;
    }
  }

  & .svg-container {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  & .svg-wrapper {
    height: calc(100% - 2rem);
    padding: .5rem;
    padding-top: 1rem;
    width: 100%;
  }


  & .img-container {
    background: $color-white;
    cursor: pointer;
    border: 1px solid $color-light-grey;
    display: flex;
    height: 180px;
    transition: all ease .3s;
    padding: 2% 4%;
    width: 100%;

    &:hover {
      cursor: pointer;
      opacity: .7;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  & .featured-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    gap: 1rem;

    justify-content: space-between;
    position: relative;
    z-index: 10;

    @media (min-width: 350px) {
      flex-direction: row;
      gap: 0;
    }

    @media (min-width: 1325px) {
      flex-direction: column;
      padding-bottom: 0;
      justify-content: center;
      padding-right: 1rem;
    }

    & h2 {
      color: #1C2541;
      font-family: 'Red Hat Display', sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;

      @media (min-width: 1023px) {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 1rem;
      }
    }
  }
}
