@import '@/variables';

.slide-enter-active,
.slide-leave-active {
  transition: height .5s;
  height: 66px;
  overflow: hidden;
  z-index: 1;

  @media (max-width: 1024px) {
    height: 58px;
  }
}

.slide-enter,
.slide-leave-to {
  height: 0;
  overflow: hidden;

}

.results {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin: 70px auto;
  max-width: 1440px;

  @media (max-width: 1440px) {
    margin: 70px 20px;
  }

  @media (max-width: 1024px) {
    display: block;
  }
}

.search {
  display: flex;
  align-items: center;

  @media (max-width: 1200px) {
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0;
  }

  & label {
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;
    min-width: 170px;

    @media (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

    & .relative {
      position: relative;

      @media (max-width: 768px) {
        margin-bottom: 10px;
        width: 100%;
      }
    }

  & .search-input-wrapper {
    display: flex;
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-black;
    border-radius: 3px;
    box-sizing: border-box;
    height: 32px;
    margin-right: 10px;
    padding: 5px 10px;
  }

  & .tag {
    background-color: $color-pink;
    font-size: 14px;
    margin-right: 5px;
    padding: 2px 10px;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }
  }

  & input {
    background-color: transparent;
    border: none;
    height: 30px;
    font-size: 16px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  & .autocomplete-results {
    background-color: $color-white;
    position: absolute;
    top: 32px;
    border: 1px solid $color-grey;
    border-radius: 3px;
    height: 200px;
    overflow-y: scroll;
    width: calc(100% - 12px);

    & span {
      background-color: $color-white;
      font-weight: 500;
      display: block;
      padding: 10px 25px;
      text-align: left;
      transition: all .3s ease;

      &:hover,
      &:focus {
        outline: none;
        background-color:$color-turquoise;
        color: $color-white;
        cursor: pointer;
      }
    }
  }

  & .info-text {
    color: $color-grey;
    font-size: 14px;
    min-width: 200px;

    @media (max-width: 768px) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

.vectors-actions {
  width: 40%;
  text-align: right;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    display: flex;
    margin-top: 36px;
  }
}

.btn-color,
.btn-download {
  font: 500 14px 'Red Hat Display';
  border-radius: 4px;
  padding: 5px 20px;
}

.btn-color {
  background-color: $color-light-grey;
  border: 2px solid $color-light-grey;
  margin-right: 20px;

  & img {
    margin-right: 10px;
    vertical-align: middle;
  }

  @media (max-width: 768px) {
    width: 50%;
  }
}

.btn-download {
  font: 500 14px 'Red Hat Display';
  text-decoration: none;

  @media (max-width: 768px) {
    display: inline-block;
    padding: 5px 0;
    text-align: center;
    width: 50%;
  }
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.tags {
  width: 190px;
  margin-right: 20px;

  & p {
    font-weight: 500;
    font-size: 18px;
    margin: 5px 0 20px;
  }

  & .tags-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
      margin: 15px 0;
    }
  }

  & .popular-btn {
    background: $color-light-grey;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Red Hat Display';
    max-width: 190px;
    overflow: hidden;
    padding: 4px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background-color: $color-turquoise-dark;
      color: $color-white;
    }
  }

  & .link {
    background: transparent;
    border: none;
    display: block;
    color: $color-turquoise-dark;
    font-family: 'Red Hat Display';
    font-size: 14px;
    font-weight: 500;
    margin-top: 25px;
    text-decoration: underline;

    &.desktop {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @media (max-width: 1024px) {
        display: inline;
        float: right;
        margin: 0;
      }
    }
  }

  @media (max-width: 1024px) {
    width: 100%;

    & p {
      display: inline;
    }

    & .tags-list {
      display: flex;
      flex-wrap: wrap;
      margin: 16px 0 40px;

      & li {
        margin: 0 0 10px 0;
      }
    }

    & .popular-btn {
      margin-right: 20px;
    }
  }

  @media (max-width: 768px) {

    & .tags-list {
      margin: 16px 0 30px;
    }
  }
}

.results-list {
  display: grid;
  grid-template-columns: repeat(5, 18%);
  column-gap: 3%;
  row-gap: 50px;

  @media (max-width: 1500px) {
    grid-template-columns: repeat(4, 22%);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 49%);
    column-gap: 2%;
  }

  & .download-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    @media (max-width: 768px) {
      column-gap: 2px;
    }
  }

  & .btn {
    background-color: transparent;
    border: 2px solid $color-turquoise;
    border-radius: 4px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    line-height: normal;
    padding: 5px;
    transition: all ease .3s;
    display: block;

    @media (max-width: 768px) {
      font-size: 13px;
    }

    &:hover {
      background-color: $color-turquoise;
      color: $color-white;
    }
  }

  & .svg {
    background-color: $color-light-turquoise;
    color: $color-black;
    display: inline-block;
    text-decoration: none;
    text-align: center;

    &:hover {
      background-color: $color-turquoise;
      color: $color-white;
    }
  }

  & .img-container {
    cursor: pointer;
    border: 1px solid $color-light-grey;
    display: flex;
    height: 150px;
    margin-bottom: 10px;
    padding: 8% 16%;
    transition: all ease .3s;

    &:hover {
      border-color: $color-medium-grey;
    }
  }

  & .svg-container {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  & img, .svg-container {
    margin: auto;

    &.vertical {
      height: 125px;

      @media (max-width: 1200px) {
        height: 100px;
      }
    }

    &.horizontal {
      width: 125px;

      @media (max-width: 1200px) {
        width: 100px;
      }
    }
  }
}

.no-results {
  margin: 70px 0;
  text-align: center;

  & h3 {
    font-size: 36px;
    margin: 20px 0 15px;
  }

  & p {
    color: $color-grey;
    font-size: 16px;
    font-weight: 500;
  }

  & strong {
    font-size: 16px;
  }

  & .highlight {
    color: $color-turquoise;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px;

  & .pages {
    display: flex;
    margin: 2px 20px 0 25px;
  }

  & .page {
    color: $color-turquoise;
    font-weight: 700;
    margin-right: 10px;

    &.current {
      color: $color-black;
    }
  }

  & .separator {
    color: $color-medium-grey;
    font-weight: 500;
    margin-right: 10px;
  }

  & .page,
  & .prev,
  & .next {
    background-color: transparent;
    border: none;
  }
}

.nav-search {
  background: linear-gradient(180deg, $color-light-blue -7.61%, $color-light-turquoise 87.82%);
  position: fixed;
  top: 0;
  width: 100%;

  & .container {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 60px;

    @media (max-width: 768px) {
      align-items: center;
      padding: 10px 17px;
    }
  }

  & .logo {
    max-width: 130px;

    @media (max-width: 768px) {
      margin-right: 30px;
    }
  }

  & .search {
    margin-bottom: 0;

    label {
      font-size: 14px;
      margin-right: 20px;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .search-input-wrapper {
      margin-right: 0;
    }

    .relative {
      margin-bottom: 0;
    }
  }
}
