@import '@/variables';

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
  opacity: 0
}

.scroll-to-top {
  align-items: center;
  background: #7BDFF2;
  border: 0;
  border-radius: 100%;
  bottom: 1.5rem;
  display: flex;
  height: 50px;
  justify-content: center;
  right: 1.5rem;
  position: fixed;
  width: 50px;

  & img {
    height: 1rem;
    width: 1rem;
  }
}

.results {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin: 70px auto;
  max-width: 1440px;

  @media (max-width: 1500px) {
    margin: 0 20px;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.search {
  display: flex;
  align-items: center;

  @media (max-width: 1200px) {
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0;
  }

  & label {
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;

    @media (max-width: 768px) {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

    & .relative {
      position: relative;

      @media (max-width: 768px) {
        margin-bottom: 10px;
        width: 100%;
      }
    }

  & .search-input-wrapper {
      display: flex;
      align-items: center;
      background-color: $color-white;
      border: 1px solid $color-black;
      border-radius: 3px;
      box-sizing: border-box;
      height: 32px;
      margin-right: 10px;
      padding: 5px 10px;
    }

    & .tag {
        background-color: $color-pink;
        font-size: 14px;
        margin-right: 5px;
        padding: 2px 10px;
        white-space: nowrap;

        &:hover {
          cursor: pointer;
        }
    }

    & input {
      background-color: transparent;
      border: none;
      height: 30px;
      font-size: 16px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    & .autocomplete-results {
      background-color: $color-white;
      position: absolute;
      top: 32px;
      border: 1px solid $color-grey;
      border-radius: 3px;
      height: 200px;
      overflow-y: scroll;
      width: calc(100% - 12px);

      & span {
        background-color: $color-white;
        font-weight: 500;
        display: block;
        padding: 10px 25px;
        text-align: left;
        transition: all .3s ease;

        &:hover,
        &:focus {
          outline: none;
          background-color:$color-turquoise;
          color: $color-white;
          cursor: pointer;
        }
      }
    }

  & .info-text {
    color: $color-grey;
    font-size: 14px;

    @media (max-width: 768px) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

.vectors-actions {
  width: 40%;
  text-align: right;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.btn-color,
.btn-download {
  font: 500 14px 'Red Hat Display';
  border-radius: 4px;
  padding: 5px 20px;
}

.btn-color {
  background-color: $color-light-grey;
  border: 2px solid $color-light-grey;
  margin-right: 20px;

  & img {
    margin-right: 10px;
    vertical-align: middle;
  }
}

.btn-download {
  background-color: transparent;
  border: 2px solid $color-turquoise;
  color: $color-black;
  font: 500 14px 'Red Hat Display';
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.tags {
  @media (max-width: 900px) {
    display: none;
  }
  & p {
    font-weight: 700;
    font-size: 14px;
    margin: 50px 0 30px;
  }

  & .tags-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & li {
      margin: 15px 0;
    }
  }

  & .popular-btn {
    background: none;
    border: none;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Red Hat Display';
  }
}

.results-list {
  display: grid;
  grid-template-columns: repeat(5, 18%);
  column-gap: 3%;
  row-gap: 50px;

  @media (max-width: 1500px) {
    grid-template-columns: repeat(4, 22%);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 49%);
    column-gap: 2%;
  }

  & .download-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  & .btn {
    background-color: transparent;
    border: 2px solid $color-turquoise;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
    transition: all ease .3s;

    &:hover {
      background-color: $color-turquoise;
      color: $color-white;
    }
  }

  & .svg {
    color: $color-black;
    font: 400 14px 'Red Hat Display';
    padding: 4px 5px;
    text-decoration: none;
    text-align: center;
  }

  & .img-container {
    border: 1px solid #F2F2F2;
    display: flex;
    height: 150px;
    margin-bottom: 10px;
    padding: 8% 16%;
  }

  & .svg-container {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  & img, .svg-container {
    margin: auto;

    &.vertical {
      height: 125px;

      @media (max-width: 1200px) {
        height: 100px;
      }
    }

    &.horizontal {
      width: 125px;

      @media (max-width: 1200px) {
        width: 100px;
      }
    }
  }
}

.no-results {
  margin: 70px 0;
  text-align: center;

  & h3 {
    font-size: 36px;
    margin: 20px 0 15px;
  }

  & p {
    color: $color-grey;
    font-size: 16px;
    font-weight: 500;
  }

  & strong {
    font-size: 16px;
  }

  & .highlight {
    color: $color-turquoise;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px;

  & .pages {
    display: flex;
    margin: 2px 20px 0 25px;
  }

  & .page {
    color: $color-turquoise;
    font-weight: 700;
    margin-right: 10px;

    &.current {
      color: $color-black;
    }
  }

  & .separator {
    color: $color-medium-grey;
    font-weight: 500;
    margin-right: 10px;
  }

  & .page,
  & .prev,
  & .next {
    background-color: transparent;
    border: none;
  }
}