@import "@/variables";

/* Modal style */
.modal-backdrop {
  align-items: center;
  background-color: rgba(94, 100, 114, 0.61);
  display: flex;
  bottom: 0;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.radio-label[type='radio'] {
  height: 0;
  width: 0;
  &:focus {
    & + label {
      outline: solid 1px red;
    }
  }
}


.modal {
  background: $color-white;
  border-radius: 6px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  min-height: 520px;
  max-height: 96vh;

  @media (max-width: 1000px) {
    min-width: 0;
  }

  @media (max-width: 420px) {
    border-radius: 0;
    height: 100vh;
    max-height: 100vh;
  }

}

.modal-header,
.modal-footer {
  display: flex;
  padding: 25px;

  @media (max-width: 890px) {
    padding: 10px;
  }
}

.modal-header {
  justify-content: space-between;
  align-items: center;

  @media (max-width: 890px) {
    padding: 20px 10px 5px 30px;
  }
}

.modal-body {
  display: grid;
  grid-template-areas: "prev main next";
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;

  @media (max-width: 890px) {
    grid-template-areas:
      "main main"
      "prev next";
    padding-bottom: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

.main {
  grid-area: main;
  display: flex;
  padding: 20px 30px 30px 30px;
  position: relative;
  min-height: 376px;

  @media (max-width: 890px) {
    flex-direction: column;
    padding: 0 30px 1rem;
  }
}

.next,
.previous {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 36px;


  @media (max-width: 890px) {
    max-width: none;
  }
}

.previous {
  grid-area: prev;
  padding-left: 10px;
}

.next {
  grid-area: next;
  padding-right: 10px;
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

/* header */
.title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 890px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

/* Title */
.title {
  align-self: flex-start;
  color: $color-black;
  display: flex;
  font-size: 18px;
  flex-shrink: 0;
  line-height: 24px;
  font-weight: 700;
  margin: 0 1rem .5rem 0;
}

/* Tags list */
.tags-list {
  display: block;
  flex-wrap: wrap;
  max-width: 620px;
  justify-content: center;

  @media (max-width: 890px) {
    justify-content: flex-start;
  }

  li {
    display: inline-block;
    margin-bottom: 8px;
  }

  .popular-btn {
    background: $color-light-grey;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    font-family: "Red Hat Display";
    max-width: 190px;
    margin: 0 5px 0 0;
    overflow: hidden;
    padding: 4px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background-color: $color-turquoise-dark;
      color: $color-white;
    }
  }
}

/* buttons */
.btn-close,
.btn-previous,
.btn-next {
  background: transparent;
  border: none;
  color: $color-black;
  cursor: pointer;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  transition: all ease 0.1s;

  &:disabled,
  &[disabled] {
    color: $color-medium-grey;
    cursor: default;
  }
}

.btn-close {
  align-self: flex-start;
  font-size: 20px;
  padding: 0 10px;

}

.btn-previous,
.btn-next {
  font-size: 40px;
}

/* Preview */
.preview-container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 890px) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
    flex: 1 1 auto;
  }

  .preview {
    align-items: center;
    background-image: url("../../assets/square.svg");
    background-color: $color-light-grey;
    display: flex;
    justify-content: center;
    height: 335px;
    overflow: hidden;
    width: 335px;

    @media (max-width: 890px) {
      height: 207px;
      width: 100%;
    }
  }

  .gif-image {
    height: 335px;
    width: 335px;

    @media (max-width: 890px) {
      height: 207px;
      width: 100%;
    }
  }

  .preview-title {
    color: $color-grey;
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
  }
}

.form-container {
  flex: 1 0 auto;
  min-width: 365px;
  margin-left: 2rem;

  @media (max-width: 890px) {
    min-width: auto;
    margin-left: 0;
  }
}

.round {
  border-radius: 12px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 8px;
  height: 18px;
  width: 18px;

  &.transparent {
    position: relative;

    &:before {
      outline: 2px solid $color-red;
      border-radius: 2px;
      content: "";
      left: 0px;
      position: absolute;
      transform: rotate(-45deg);
      top: 9px;
      width: 18px;
    }
  }

  &.selected {
    outline: 2px solid $color-light-blue;
  }
}

/* Choices (common css)*/
.choices-container {
  display: block;

  & .choice-container {
    display: inline-block;
    vertical-align: top;

    @media (max-width: 890px) {
      margin-bottom: 8px;
    }
  }

  & > :not(:last-child) {
    padding-right: 10px;
  }

  & input {
    left: -9999px;
    opacity: 0;
    height: 0;
    position: absolute;
    width: 0;

    &:focus + label {
      outline: solid 1px $color-red;
    }
  }

  & label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid $color-turquoise;
    border-radius: 4px;
    color: $color-black;
    cursor: pointer;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 10px;
    text-decoration: none;
    transition: all ease 0.3s;
  }

  & input:checked + label {
    background-color: $color-light-turquoise;
  }
}

/* Download type selector */
.types-container {
  display: flex;
  margin-bottom: 20px;

  @media (max-width: 890px) {
    margin-bottom: -16px; // Why?
  }
}

.type-settings-container {
  margin-left: 0px;
  margin-top: 1rem;
}

/* Colors options */
.color-hex-container {
  display: flex;
}

.colors-container {
  display: flex;
  flex-direction: column;

  & .edit-color-settings-container {
    margin-top: 15px;

    & > :not(:first-child) {
      margin-top: 2px;
    }
  }

  & .title {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;

    @media (max-width: 890px) {
      display: none;
    }
  }

  & .hex {
    border: 1px solid $color-medium-grey;
    border-right: none;
    border-radius: 2px 0 0 2px;
    margin-left: 15px;
    padding: 5px;
    width: 70px;

    @media (max-width: 890px) {
      align-self: flex-start;
      border: 1px solid $color-medium-grey;
      border-radius: 2px;
      border-right: 0;
      margin-left: 0;
      height: 20px;
    }
  }

  & .color-options {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .color-title-container {
      align-items: flex-start;
      display: flex;
      flex-direction: row;

      .title {
        display: none;
      }

      .color-input.user {
        padding: 0;
      }
    }

    @media (max-width: 890px) {
      flex-direction: column-reverse;
      align-items: flex-start;

      .color-title-container {
        align-items: center;
        align-content: center;
        justify-content: space-between;
        width: 100%;

        .title {
          display: block;
          margin: 0;
        }
      }
    }
  }

  & .rounds {
    display: block;
    max-width: 220px;
    margin-top: 4px;

    @media (max-width: 890px) {
      justify-content: space-between;
      max-width: none;
      margin-top: 20px;
      width: 100%;
    }
  }
}

/* Sizes options */
.sizes-container {
  display: flex;
  margin-top: 20px;

  @media (max-width: 890px) {
    margin-top: 0;
  }

  & .choice-container {
    max-width: 120px;
    min-width: 50px;

    & .size {
      color: $color-medium-grey;
      font-size: 11px;
      font-weight: 500;
      margin-top: 5px;
    }
  }
}

/* Actions */
.actions-container {
  display: flex;
  margin-top: 1rem;

  @media (max-width: 890px) {
    margin-top: 8px;
  }

  & .btn {
    background-color: transparent;
    border: 2px solid $color-turquoise;
    border-radius: 4px;
    color: $color-grey;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 30px;
    text-decoration: none;
    transition: all ease 0.3s;

    &:hover {
      background-color: $color-turquoise;
      color: $color-white;
    }
  }

  & .submit {
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;

    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }
  & .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-grey;
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
    text-align: center;
  }
}
