@import '@/variables';

/* Modal style */
.modal-backdrop {
  align-items: center;
  background-color: rgba(94, 100, 114, 0.61);
  display: flex;
  bottom: 0;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal {
  background: $color-white;
  border-radius: 6px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  min-height: 520px;
  min-width: 838px;
  max-height: 96vh;

  @media (max-width: 768px) {
     min-width: 0;
  }
}

.modal-header,
.modal-footer {
  display: flex;
  padding: 25px;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.modal-header {
  justify-content: space-between;

  @media (max-width: 768px) {
    padding: 20px 10px 5px;
  }
}

.modal-body {
  display: flex;
  padding: 20px 60px 30px 30px;
  position: relative;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 20px 30px;
  }
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity .5s ease
}

/* Title */
.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto 0;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  // & .title {
  //   color: $color-black;
  //   display: flex;
  //   font-size: 18px;
  //   font-weight: 700;
  //   text-align: center;
  // }
  //
  // & .subtitle {
  //   color: $color-grey;
  //   display: flex;
  //   font-size: 14px;
  //   font-weight: 400;
  //   margin: 0 0 0 10px;

  //   @media (max-width: 768px) {
  //       margin: 10px 0 0 0;
  //   }

  //   &strong {
  //     font-weight: 700;
  //   }
  // }
}

/* Tags list */
.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0 20px;

  @media (max-width: 768px) {
      margin: 20px 0 0 0;
  }

  .popular-btn {
    background: $color-light-grey;
    border: none;
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Red Hat Display';
    max-width: 190px;
    margin: 0 5px 5px 0;
    overflow: hidden;
    padding: 4px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background-color: $color-turquoise-dark;
      color: $color-white;
    }
  }
}

/* Close button */
.btn-close {
  background: transparent;
  border: none;
  color: #1C2541;
  cursor: pointer;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: -10px;
  padding: 0 10px;
}

/* Preview */
.preview-container {
  margin-right: 50px;

  @media (max-width: 768px) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .preview {
    align-items: center;
    background-image: url('../../assets/square.svg');
    background-color: $color-light-grey;
    display: flex;
    justify-content: center;
    height: 335px;
    overflow: hidden;
    width: 335px;

    @media (max-width: 768px) {
      height: 207px;
      min-width: 310px;
      width: 100%;
    }
  }

  .preview-title {
    color: $color-grey;
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
  }
}

.round {
  border-radius: 12px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.18);
  display: inline-block;
  margin-right: 8px;
  height: 18px;
  width: 18px;

  &.transparent {
    position: relative;

    &:before {
      border: 2px solid $color-red;
      border-radius: 2px;
      content: '';
      left: -6px;
      position: absolute;
      transform: rotate(-45deg);
      top: 6px;
      width: 25px;
    }
  }

  &.selected {
    border: 2px solid $color-light-blue;
  }
}

/* Choices (common css)*/
.choices-container {
  display: flex;

  & > :not(:first-child) {
    padding-left: 10px;
  }

  & input {
    display: none;
  }

  & label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid $color-turquoise;
    border-radius: 4px;
    color: $color-black;
    cursor: pointer;
    font-family: "Red Hat Display", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 10px;
    text-decoration: none;
    transition: all ease 0.3s;
  }

  & input:checked + label {
    background-color: $color-light-turquoise;
  }
}

/* Download type selector */
.types-container {
  display: flex;
  margin-bottom: 20px;

  & .choices-container {
    & > * {
      padding: 0 15px;
    }

    & > :first-child {
      padding-left: 0;
    }

    & > :not(:first-child) {
      border-left: 1px solid $color-black;
    }

    & label {
      color: $color-black;
      border: none;
      height: 20px;
      padding: 0;
    }
    & input:checked + label {
      background-color: transparent;
      font-weight: 700;
    }
  }
}


.type-settings-container {
  margin-left: 40px;
  margin-top: 40px;

  @media (max-width: 768px) {
    margin-left: 0px;
  }

}

/* Colors options */
.colors-container {
  display: flex;
  flex-direction: column;

  & .edit-color-settings-container {
    margin-top: 15px;
    margin-left: 15px;

    & > :not(:first-child) {
      margin-top: 10px;

      @media (max-width: 768px) {
        margin-top: 15px;
        margin-bottom: 20px;
      }
    }
  }

  & .title {
    display: block;
    font-size: 14px;
    font-weight: 700;

    @media (max-width: 768px) {
      display: none;
    }
  }

  & .hex {
    border: 1px solid $color-medium-grey;
    border-radius: 2px;
    margin-left: 15px;
    padding: 5px;
    width: 70px;

    @media (max-width: 768px) {
      border: 1px solid $color-black;
      margin-left: 0;
      align-self: flex-end;
    }
  }

  & .color-options {
    display: flex;
    align-items: center;

    .color-title-container {
      .title {
        display: none;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: flex-start;

      .color-title-container {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .title {
          display: block;
        }
      }
    }
  }

  & .rounds {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;
    }
  }
}

/* Sizes options */
.sizes-container {
  display: flex;
  margin-top: 20px;

  & .choice-container {
    max-width: 120px;
    min-width: 50px;

    & .size {
      color: $color-medium-grey;
      font-size: 11px;
      font-weight: 500;
      margin-top: 5px;
    }
  }
}


/* Actions */
.actions-container {
  display: flex;
  margin-top: 40px;

  & .btn {
    background-color: transparent;
    border: 2px solid $color-turquoise;
    border-radius: 4px;
    color: $color-grey;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 30px;
    text-decoration: none;
    transition: all ease .3s;

    &:hover {
      background-color: $color-turquoise;
      color: $color-white;
    }
  }

  & .submit {
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;

    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }
  & .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-grey;
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
    text-align: center;
  }
}
