@import '@/variables';

.container {
  margin: 0 70px;

  @media (max-width: 768px) {
    margin: 0;
  }
}

.first-container {
  position: relative;
}

.cta {
  background-image: url("../../assets/pink-buble.svg");
  background-repeat: no-repeat;
  background-position: 15% -60px;
  background-size: auto;
  min-height: 450px;
  position: relative;
  padding: 30px 0 0 0;
  z-index: 2;

  @media (max-width: 2200px) {
    background-position: 5% 65%;
    background-size: 35%;
  }

  @media (max-width: 1920px) {
    background-position: -22% 65%;
    background-size: 38%;
  }

  @media (max-width: 1440px) {
    background-position: -27% 65%;
    min-height: 420px;
  }

  @media (max-width: 1024px) {
    background-position: -51% 59%;
    background-size: 52%;
  }

  @media (max-width: 920px) {
    background-position: -78% 62%;
    background-size: 63%;
  }

  @media (max-width: 768px) {
    background-position: -20% -40px;
    background-size: 250px;
    min-height: 250px;
  }

  @media (max-width: 625px) {
    min-height: 250px;
  }

  @media (max-width: 510px) {
    min-height: 330px;
  }

  @media (max-width: 459px) {
    min-height: 350px;
  }

  @media (max-width: 366px) {
    min-height: 350px;
  }

  @media (max-width: 360px) {
    min-height: 300px;
  }
}

.grass {
  background-image: url("../../assets/bg-customize.svg");
  background-repeat: repeat-x;
  min-height: 12rem;
  width: 100%;
  position: absolute;
  bottom: 0;

  @media (max-width: 1440px) {
    min-height: 12rem;
  }

  @media (max-width: 1024px) {
    min-height: 10rem;
  }

  @media (max-width: 768px) {
    min-height: 8rem;
  }
}

.container-cta {
  display: grid;
  grid-template-columns: 6fr 2fr;
  margin: 0 auto;
  max-width: 1440px;

  @media (max-width: 1440px) {
    padding: 0 70px;
  }

  @media (max-width: 920px) {
    padding: 0 50px;
  }

  @media (max-width: 768px) {
    grid-template-columns: 2fr 1fr;
    padding: 0 20px;
  }

  @media (max-width: 360px) {
    grid-template-columns: 1fr;
  }

  & .section-text {
    margin: auto;
    position:relative;
  }

  & .title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 35px;
    padding-right: 20%;

    @media (max-width: 1440px) {
      font-size: 48px;
      padding-right: 5%;
    }
    @media (max-width: 768px) {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }

  & .subtitle {
    color: $color-grey;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
    padding-right: 30%;

    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 10px;
      padding-right: 5%;
    }

    & strong {
      color: $color-black;
      font-weight: bolder;
    }
  }

  & .section-img {
    @media (max-width: 768px) {
      align-self: center;
      text-align: right;
    }
    @media (max-width: 360px) {
      display: none;
    }
    & img {
      @media (max-width: 1440px) {
        max-width: 305px;
      }

      @media (max-width: 768px) {
        max-width: 120px;
      }
    }
  }
}

.search-container {
  & .search {
    position: relative;
    width: 420px;

    @media (max-width: 768px) {
      position: absolute;
      width: 88vw;
      left: 0;
      right: 0;
      margin: auto
    }

    & label {
      position: absolute;
      top: -100000px;
    }

    & .search-input-wrapper {
      display: flex;
      align-items: center;
      background-color: $color-white;
      border: 1px solid $color-black;
      border-radius: 3px;
      box-sizing: border-box;
      height: 48px;
      padding: 0 25px;
      width: 100%;
    }

    & .tag {
       background-color: $color-pink;
       font-size: 14px;
       margin-right: 5px;
       padding: 5px 10px;
       white-space: nowrap;

       &:hover {
         cursor: pointer;
       }
    }

    & input {
      background-color: transparent;
      border: none;
      height: 46px;
      font-size: 16px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    & .autocomplete-results {
      background-color: $color-white;
      position: absolute;
      top: 48px;
      border: 1px solid $color-grey;
      border-radius: 3px;
      height: 200px;
      overflow-y: scroll;
      width: 420px;

      @media (max-width: 768px) {
        width: 100%;
      }

      & span {
        background-color: $color-white;
        font-weight: 500;
        display: block;
        padding: 10px 25px;
        text-align: left;
        transition: all .3s ease;

        &:hover,
        &:focus {
          outline: none;
          background-color:$color-turquoise;
          color: $color-white;
          cursor: pointer;
        }
      }
    }
  }
}

.suggestion-section {
  padding: 40px;
}

.piweek-section {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;

  @media (max-width: 768px) {
    padding: 20px;
  }

  & .title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  & .subtitle {
    color: $color-grey;
    font-size: 14px;
    line-height: 24px;
    margin: auto;
    max-width: 700px;

    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  & .highlight {
    color: $color-turquoise;
    text-decoration: none;
    font-weight: 700;

    &:active {
      color: $color-turquoise;
      font-size: 14px;
      font-weight: 500;
    }
  }

  & .btn-piweek {
    display: inline-block;
    margin-top: 50px;
    background-color: transparent;
    border: 1px solid $color-turquoise;
    border-radius: 6px;
    color: $color-turquoise;
    font-weight: 700;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
  }
}

.content {
  display: flex;
}

.home-title {
  align-items: center;
  color: #1C2541;
  display: flex;
  justify-content: space-between;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  max-width: 1440px;
  margin: 1.5rem auto;
  padding: 0 1.5rem;

  @media (min-width: 720px) {
    font-size: 30px;
  }


  @media (min-width: 1023px) {
    margin: 3rem auto;
  }

  .btn-primary {
    min-width: 101px;
    max-height: 32px;
  }
}

.latest-wrapper {
  column-gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1.5rem 3rem;
  row-gap: 1.5rem;

  @media (max-width: 1220px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }


  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 560px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 340px) {
    grid-template-columns: 1fr;
  }


  & .svg-container {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  & .svg-wrapper {
    height: calc(100% - 2rem);
    padding: .5rem;
    padding-top: 1rem;
    width: 100%;
  }


  & .img-container {
    background: $color-white;
    cursor: pointer;
    border: 1px solid $color-light-grey;
    display: flex;
    height: 180px;
    transition: all ease .3s;
    padding: 2% 4%;
    width: 100%;

    &:hover {
      cursor: pointer;
      opacity: .7;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  & .latest-vector-wrapper {
    margin: 0 auto;
  }

  & .tags-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: .6rem;
  }

  & .tag {
    background: #F1F1F1;
    border: 0;
    border-radius: 62px;
    color: #1C2541;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin: 0 .5rem .5rem 0;
    line-height: 20px;
    transition: all .2s ease;

    &:hover {
      color: white;
      background: #00C2FF;
    }
  }
}
