<section class="home">
  <div class="cta">
    <div class="container container-cta">
      <div class="section-text">
        <h1 class="title">Looking for the perfect illustration?</h1>
        <h2 class="subtitle">Discover the CocoMaterial, the Open Source hand-drawn illustration library</h2>
        <a class="btn" href="#start">Start now</a>
      </div>
      <div class="section-img">
        <img alt="Person thinking illustration" src="../../assets/woman-asking.svg" />
      </div>
    </div>
  </div>
  <div class="search-section" :style="{ backgroundImage: `url(${require('@/assets/bg-customize.svg')})`}" @click="closeAutocomplete">
    <div class="container">
      <h3 id="start"  class="title">Customize & Download</h3>
      <p class="subtitle">Search by theme and customize the colors of the illustration to match your needs</p>
      <form autocomplete="off" class="search" onsubmit="return false;">
        <label for="search">Search</label>
        <div class="search-input-wrapper">
          <span
            class="tag"
            v-for="(tag, index) in tagsToSearch"
            :key="index"
            @click="removeTag(tag)">x {{tag}}</span>
          <input
            id="search"
            ref="search"
            v-model="search"
            type="text"
            :placeholder="`${tagsToSearch.length ? '' : 'Search by topic'}`"
            @keyup.enter="searchVector"
            @keyup.delete="handleDelete"
            @keyup="autocompleteSearch"
            @keydown.down="focusAutocompleteResults(-1, 'down')"/>
        </div>
        <div id="results" ref="results" v-if="autocompleteResults.length" class="autocomplete-results">
          <span
            tabindex="1"
            v-for="(result, index) in autocompleteResults"
            :key="index"
            @click="addTag(result.slug)"
            @keyup.enter="addTag(result.slug)"
            @keydown.up="focusAutocompleteResults(index, 'up')"
            @keydown.down="focusAutocompleteResults(index, 'down')">
            {{result.slug}}
          </span>
        </div>
      </form>
    </div>
  </div>
  <h1 class="home-title">Featured Tags</h1>
  <div class="featured-wrapper" v-if="featuredVectors && featuredVectors.length">
    <div class="featured-container" v-for="(featured, index) in featuredVectors"  :key="index">
      <div class="featured-decoration">
        <div class="bubble-container" v-bind:class="'bubble' + (index + 1)"></div>
      </div>
      <div class="featured-title">
        <h2>{{ featured.name }}</h2>
        <button class="btn-primary" @click="searchVectorByTopic(featured.tag)">View all</button>
      </div>
      <div class="featured-vector-wrappers">
        <div class="img-container" v-for="(vector, index) in featured.vectors.slice(0, 6)"  :key="index">
          <div class="svg-wrapper" @click="searchVectorByTopic(vector.tags.replace(/\s/g,''))">
            <div class="svg-container" :id="index" :alt="vector.name" @load="loaded(index)" v-bind:style="{ backgroundImage: 'url(' + vector.svg + ')' }"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="home-title">Featured Topics</h1>
  <div class=topics @click="closeAutocomplete">
    <div class="topic">
      <div class="top">
        <h5 class="title">Technology</h5>
        <button class="btn-primary" @click="searchVectorByTopic('technology')">View all</button class="btn-primary">
      </div>
      <img src="../../assets/topics/tech.svg" />
    </div>
    <div class="topic">
      <div class="top">
        <h5 class="title">Science</h5>
        <button class="btn-primary" @click="searchVectorByTopic('science')">View all</button class="btn-primary">
      </div>
      <img src="../../assets/topics/science.svg" />
    </div>
    <div class="topic">
      <div class="top">
        <h5 class="title">Objects</h5>
        <button class="btn-primary" @click="searchVectorByTopic('object')">View all</button class="btn-primary">
      </div>
      <img src="../../assets/topics/objects.svg" />
    </div>
    <div class="topic">
      <div class="top">
        <h5 class="title">Food</h5>
        <button class="btn-primary" @click="searchVectorByTopic('food')">View all</button class="btn-primary">
      </div>
      <img src="../../assets/topics/food.svg" />
    </div>
    <div class="topic">
      <div class="top">
        <h5 class="title">People</h5>
        <button class="btn-primary" @click="searchVectorByTopic('people')">View all</button class="btn-primary">
      </div>
      <img src="../../assets/topics/people.svg" />
    </div>
    <div class="topic">
      <div class="top">
        <h5 class="title">Charts</h5>
        <button class="btn-primary" @click="searchVectorByTopic('chart')">View all</button class="btn-primary">
      </div>
      <img src="../../assets/topics/charts.svg" />
    </div>
    <div class="topic">
      <div class="top">
        <h5 class="title">Emojis</h5>
        <button class="btn-primary" @click="searchVectorByTopic('emojis')">View all</button class="btn-primary">
      </div>
      <img src="../../assets/topics/emojis.svg" />
    </div>
    <div class="topic">
      <div class="top">
        <h5 class="title">Office</h5>
        <button class="btn-primary" @click="searchVectorByTopic('office')">View all</button class="btn-primary">
      </div>
      <img src="../../assets/topics/office.svg" />
    </div>
    <div class="topic">
      <div class="top">
        <h5 class="title">Social</h5>
        <button class="btn-primary" @click="searchVectorByTopic('social')">View all</button>
      </div>
      <img src="../../assets/topics/rrss.svg" />
    </div>

  </div>
  <div id="piweek" class="piweek-section">
    <div class="container">
      <h3 class="title">A PIWEEK project</h3>
      <p class="subtitle">CocoMaterial is a PIWEEK project.</p>
      <p class="subtitle">PIWEEK is an original idea by <a href="https://kaleidos.net/" target="_blank" class="highlight">Kaleidos</a>. Every six months participants leave their ongoing work in standby to devote an entire week to personal innovative projects, either alone or joined by others.</p>
      <a class="btn-piweek" href="https://piweek.com/" target="_blank">Know more about PIWEEK</a>
    </div>
  </div>
</section>