$color-black: #1C2541;
$color-grey: #5E6472;
$color-medium-grey: #C4C4C4;
$color-light-grey: #F2F2F2;
$color-turquoise: #3CD7C9;
$color-turquoise-dark: #00C2FF;
$color-white: #FFFFFF;
$color-pink: #F2B5D4;