@import '@/variables';

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 90px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 18px;
    margin-bottom: 30px;
  }
}

p {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  max-width: 500px;
  margin: 0 auto 30px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

a {
  color: $color-turquoise;
  text-decoration: none;
  font-weight: 700;

  &:active,
  &:hover {
    text-decoration: underline;
  }
}

